:root {

    /* font-family */
    --text-font-family-body: "DM Sans", "Sans Placeholder", sans-serif;
    --text-font-family-heading: "Poppins","Poppins Placeholder" , sans-serif;


    /* color */
    --color-foreground-primary: #000;
    --color-foreground-secondary: #fff;
    --color-foreground-tertiary: rgb(3, 97, 71);
    --color-foreground-quaternary: rgb(242, 108, 78);

    /* bg-color */
    --color-background-primary: #fff;
    --color-background-secondary: rgb(3, 97, 71);
    --color-background-tertiary: rgb(235, 232, 225);
    --color-background-quaternary: rgb(247, 244, 237);
    --color-background-quinary: rgb(242, 108, 78);

    /* font-weight */
    --font-weight-primary: 400;
    --font-weight-secondary: 600;

    /* font-size */
    --font-size-main-heading: 39.81px;
    --font-size-heading: 33.18px;
    --font-size-primary: 16px;
    --font-size-secondary: 14px;
    --font-size-tertiary: 12px;
    --font-size-quaternary: 19.2px;
    --font-size-quinary: 20px;

    /* text-alignment */
    --text-alignment-center: center;
    --text-alignment-left: left;
    --self-align-left: flex-start;

    /* line height */
    --line-height-primary: 1.8em;
    --line-height-secondary: 1.2em;
}